doctype html
html
	head
		title=title
		link(rel="stylesheet" href="base.css")
	body
		div(id="content")
			block content
		div(id="bg") bruh y u no got no javascript
		script document.getElementById("bg").innerText = "ミク".repeat(3900) + "wtf how big ur screen";
		